__pycache__/
*.py[cod]
.DS_Store
*.ankiaddon
*.code-workspace
dist/

# Files created inside a live Anki add-on installation.
meta.json
ffmpeg
ffmpeg.exe
user_files/*
!user_files/.gitignore
!user_files/README.txt
